<div class="container">
  <div class="header">
    <div class="room-container">
      @if(roomId != null) {

      <span>{{ roomId }}</span>
      <i class="fa-solid fa-share-from-square" (click)="onShareRoom()"></i>
      } @else {
      <i class="fa-solid fa-circle-user"></i>
      <span>{{ username }}</span>
      }
    </div>

    <button (click)="logOut()">Log Out</button>
  </div>
  <div class="content" *ngIf="!showDisplayName">
    <div class="user-points">
      <user-points-display [username]="username"></user-points-display>
    </div>
    <div class="gamble-table">
      <app-gamble-table></app-gamble-table>
    </div>
  </div>
  <div class="content" *ngIf="showDisplayName">
    <input type="text" placeholder="Display Name" [(ngModel)]="displayName" />
    <button (click)="confirmDisplayName()">Confirm</button>

  </div>
</div>
